* {
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body {
    width: 100%;
}
body, textarea {
    font: 13px/19px sans-serif !important;
}
h1, h2, h3 {
    font-family: 'Arial Narrow', 'Arial', sans-serif;
    line-height: 0.7em;
    font-weight: normal;
}
h1 {
    font-size: 55px;
}
h2, h3 {
    font-size: 35px;
}
a, a:link {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
a:hover {
    border-color: #000
}
#guess {
    width: 120%;
    font-size: 20px;
    margin: 30px auto auto auto;
}
#guess h2 {
    float: left;
    margin-right: 10px;
}
#guess h3 {
    float: left;
}
#header {
    width: 525px;
    margin: 50px auto auto auto;
    height: 60px;
}
#header h1 {
    margin: 0 auto;
    padding: 0 0 0 20px;
    text-align: left;
}
#mainlinks {
    text-align: center;
    width: 100%;
}
#message {
    width: 100%;
    margin: 0px auto 20px auto;
    text-align: center;
}
#message h2 {
    line-height: 1.0em;
}
#phrase {
    width: 100%;
    text-align: center;
    margin: 10px auto 20px auto;
    line-height: 1em;
}
#start {
    width: 450px;
    margin: 10px auto 60px auto;
    text-align: center;
    visibility: hidden;
}
#wrap {
    margin: 0 auto 0 auto;
    position: relative;
    width: 450px;
    display: none;
}